@page
@model Bigfoot.Pages.Team.BlankModel
@{
}
@section head{
    <style type="text/css">
        body {
            background-image: url("/images/Blur_BG_01.jpg");
            background-repeat: no-repeat;
            /*background-size:contain;*/
            background-position: center;
            background-color: black;
            width: auto;
            /*height: auto;*/
            margin: 0;
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
}
    @{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="text-center">
        <p style="font-family:Globe; font-size:100px; text-shadow:-1px 0px white, 0px 1px white, 1px 0px white, 0 -1px white;">Nothing to see here.</p>
        <div>
            <img src="/images/FACE.jpg" alt="foot big" class="rounded-circle" style="width:50%; border:3px black solid; box-shadow:-3px 0px white, 0px 3px white, 3px 0px white, 0 -3px white;"><br />
        </div>
        <p style="font-family:Globe; font-size:100px; margin-bottom:-2%; margin-top:2%; text-shadow:-1px 0px white, 0px 1px white, 1px 0px white, 0 -1px white;">Best you turn around.</p>
        <a asp-page="./UnitedStates" style="font-size:30px; text-decoration:none; border:1px solid dodgerblue; padding-left:5px; padding-right:5px;">Go Back</a>
    </div>
    
</div>