@page
@model Bigfoot.Pages.Team.CaliforniaModel
@section head{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-image: url("/images/California_BG_01.jpg");
            width: auto;
            /* min-height: auto;*/
            margin: 0;
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
    @{
    ViewData["Title"] = "California";
}

<div class="row" style="margin-top:2%;">

    <h1 class="text-center" style="color:antiquewhite; text-shadow:2px 2px black; margin-left:1%; width:56.5%; font-family: 'Good';">California Sightings</h1>
    <div class="col-sm-7 text-light" style="margin-top:-1%;">
        <dl style="background-color:darkslategray; margin-top:2%; padding-left:10px; padding-right:10px; box-shadow:5px 5px rgba(0,0,0,0.5); border:solid 2px black;">
            <dt class="col-sm-2 ">
                <span style="font-size:20px; text-decoration:underline;">Reports</span>
            </dt>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">October 2022, El Dorado County</span> (Class B) - Possible sighting and tree shaking on S. Fork American River 30 miles NE of Sacramento
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">August 2022, Lassen County</span> (Class B) - Campers hear bigfoot-like howls 11 miles west of Susanville
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">January 2022, Humboldt County</span> (Class B) - Possible sasquatch vocals heard by hikers in Humboldt Redwoods State Park
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">July 2020, Mono County</span> (Class B) - Possible sighting at Mono Lake at Sunrise
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">June 2020, Tulare County</span> (Class B) - Possible tracks found close to Giant Forest Museum in Sequoia National Park
            </dd>
        </dl>

        <dl style="background-color:darkslategray; margin-top:2%; padding-left:10px; padding-right:10px; box-shadow:5px 5px rgba(0,0,0,0.5); border:solid 2px black;">
            <dt class="col-sm-6">
                <span style="font-size:20px; text-decoration:underline; padding-bottom:5px;">Top 5 Counties for Sightings</span>
            </dt>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #1 Humboldt: 47
                </span><br />
                Most Recent: January 2022, (Class B) - Possible sasquatch vocals heard by hikers in Humboldt Redwoods State Park
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #2 Tuolumne: 38
                </span><br />
                Most Recent: July 2008 (Class B) - Campers hear strange vocalizations for over an hour while camping outside Dorrington
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #3 Siskiyou: 31
                </span><br />
                Most Recent: December 2011 (Class A) - Family has sighting while driving along Hwy 96 near Yreka, CA
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #4 Del Norte: 29
                </span><br />
                March 2006 (Class A) - 1AM sighting of a Bigfoot on Hwy 199 near Patrick Creek
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #5 Shasta: 28
                </span><br />
                September 2018 (Class A) - Motorist daylight sighting between Redding and Lassen National Forest
            </dd>
        </dl>
    </div>
    <div class="col-sm-5" style="margin-top:-3%;">
        <img src="/images/California.png" alt="foot big" height="734" style="background-color: rgba(47,79,70,0.7) ; box-shadow:5px 5px rgba(0,0,0,0.5); border:solid 2px black;">
    </div>

</div>
<div>
    <a asp-page="/Team/UnitedStates">Back to Map</a> - <a asp-page="./Index">Back to List</a>
</div>
