@page
@model Bigfoot.Pages.Team.EditModel
@section head{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            width: auto;
            /* min-height: auto;*/
            margin: 0;
            /* The image used */
            background-image: url("/images/Pine_BG_01.jpg");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
@{
    ViewData["Title"] = "Edit";
    //var photoPath = "~/images/" + (Model.Sightings.PhotoPath ?? "noimage.jpg");
}

<div class="continer">
    <h1 style="font-family:Good; text-shadow:1px 1px antiquewhite;">Edit Sighting Report</h1>
    <main role="main" class="pb-3" style="background-color:darkslategray; padding:10px; border:solid 1px black; color:white;">
        <h4>Sighting Report:</h4>
        <hr />
        <div style="margin-bottom:10px;">
            <form method="post" class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Sightings.ID" />
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Sightings.State" class="control-label"></label>
                        <input asp-for="Sightings.State" class="form-control bg-dark text-white" />
                        <span asp-validation-for="Sightings.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sightings.Year" class="control-label"></label>
                        <input asp-for="Sightings.Year" class="form-control bg-dark text-white" />
                        <span asp-validation-for="Sightings.Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sightings.Month" class="control-label"></label>
                        <input asp-for="Sightings.Month" class="form-control bg-dark text-white" />
                        <span asp-validation-for="Sightings.Month" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sightings.Class" class="control-label"></label>
                        <input asp-for="Sightings.Class" class="form-control bg-dark text-white" />
                        <span asp-validation-for="Sightings.Class" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-top:10%; text-align:center;">
                        <input type="hidden" asp-for="Sightings.ID" />
                        <input style="font-size:20px; padding-left:20%;padding-right:20%;" type="submit" value="Save" class="btn2 btn-primary" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Sightings.Occurence" class="control-label"></label>
                        <textarea asp-for="Sightings.Occurence" class="form-control" rows="3" id="Description" type="text"></textarea>
                        <span asp-validation-for="Sightings.Occurence" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sightings.Description" class="control-label"></label>
                        <textarea asp-for="Sightings.Description" class="form-control" rows="6" id="Description" type="text"></textarea>
                        <span asp-validation-for="Sightings.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sightings.Location" class="control-label"></label>
                        <textarea asp-for="Sightings.Location" class="form-control" rows="2" id="Description" type="text"></textarea>
                        <span asp-validation-for="Sightings.Location" class="text-danger"></span>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <div style="margin:5px;">
            <H6 style="text-decoration:underline;">Class Definitions</H6>
            <p style="font-size:14px;font-weight:400;"> Class A : reports involve clear sightings in circumstances where misinterpretation or misidentification of other animals can be ruled out with greater confidence. For example, there are several footprint cases that are very well documented. These are considered Class A reports, because misidentification of common animals can be confidently ruled out, thus the potential for misinterpretation is very low.</p>
            <p style="font-size:14px;font-weight:400;"> Class B : Incidents where a possible sasquatch was observed at a great distance or in poor lighting conditions and incidents in any other circumstance that did not afford a clear view of the subject are considered Class B reports.</p>
            <p style="font-size:14px;font-weight:400;"> Class C : Most second-hand reports, and any third-hand reports, or stories with an untraceable sources, are considered Class C, because of the high potential for inaccuracy.</p>
        </div>
    </main>
</div>





 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }
<div>
    <a asp-page="./Index">Back to List</a>
</div>
            @*<div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="custom-file-input form-control" />
                    <label class="custom-file-label">Upload Photo</label>
                </div>
            </div>
            <div class="form-group">
                <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
            </div>*@

    @*                <script>
            $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
            });
            });
            </script>
            }*@


