@page
@model Bigfoot.Pages.Team.WashingtonModel
@section head{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-image: url("/images/Washington_BG_01.jpg");
            width: auto;
            /* min-height: auto;*/
            margin: 0;
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
    @{
    ViewData["Title"] = "Washington";
}

<div class="row" style="margin-top:2%;">

    <h1 class="text-center" style="color:antiquewhite; text-shadow:2px 2px black; margin-left:1%; width:56.5%; font-family: 'Good';">Washington Sightings</h1>
    <div class="col-sm-7 text-light" style="margin-top:-1%;">
        <dl style="background-color:darkslategray; margin-top:2%; padding-left:10px; padding-right:10px; box-shadow:5px 5px rgba(0,0,0,0.5); border:solid 2px black;">
            <dt class="col-sm-2 ">
                <span style="font-size:20px; text-decoration:underline;">Reports</span>
            </dt>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">August 2022, Skamania County</span> (Class B) - Whoops and knocks heard at Forlorn Lakes
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">June 2022, Chelan County</span> (Class B) - Recent activity heard over three nights at a cabin, near Plain.
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">November 2020, Grays Harbor County</span> (Class A) - Afternoon sighting of a sasquatch by motorist 5 miles southeast of Elma on Hwy 12
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">December 2021, Lewis County</span> (Class B) - Possible sighting of a Sasquatch crossing Interstate 5 at north end of Centralia
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">October 2021, Stevens County</span> (Class A) - Nighttime motorist sighting 25 miles NW of Spokane
            </dd>
        </dl>

        <dl style="background-color:darkslategray; margin-top:2%; padding-left:10px; padding-right:10px; box-shadow:5px 5px rgba(0,0,0,0.5); border:solid 2px black;">
            <dt class="col-sm-6">
                <span style="font-size:20px; text-decoration:underline; padding-bottom:5px;">Top 5 Counties for Sightings</span>
            </dt>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #1 Pierce: 83
                </span><br />
                Most Recent: May 2021, (Class B) - Possible Vocalizations Near Silver Lake
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #2 Skamania: 64
                </span><br />
                Most Recent: August 2022 (Class B) - Whoops and knocks heard at Forlorn Lakes
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #3 Snohomish: 59
                </span><br />
                Most Recent: August 2016 (Class B) - Two rock climbers hear wood knocks and footsteps in the early morning at a trailhead
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #4 Lewis: 50
                </span><br />
                December 2021 (Class B) - Possible sighting of a Sasquatch crossing Interstate 5 at north end of Centralia
            </dd>
            <dd class="col-sm-12">
                <span style="font-size:17px; font-weight:600;">
                    #5 King: 47
                </span><br />
                April 2016 (Class B) - Unseen visitor unnerves 3 friends with repeated stick throwing near North Bend
            </dd>
        </dl>
    </div>
    <div class="col-sm-5" style="margin-top:-3%;">
        <img src="/images/Washington.png" alt="foot big" height="734" style="background-color: rgba(47,79,70,0.7) ; box-shadow:5px 5px rgba(0,0,0,0.5); border:solid 2px black;">
    </div>

</div>
<div>
    <a asp-page="/Team/UnitedStates">Back to Map</a> - <a asp-page="./Index">Back to List</a>
</div>
