@page
@model PrivacyModel

@section head{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            width: auto;
            /* min-height: auto;*/
            margin: 0;
            /* The image used */
            background-image: url("/images/FACE.JPG");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center; text-shadow: 1px 1px white">YOU NEED NO PRIVACY FROM BIGFOOT</h1>

<p style="text-align:center; text-shadow: 1px 1px white">
    HE KNOWS ALL.
</p>
